.auth__form {
  background: var(--primary-color);
  padding: 40px;
  border-radius: 5px;
}

.auth__form p {
  margin-top: 30px;
}

.auth__form p a {
  color: rgba(255, 255, 255, 0.735);
}

.auth__form input[type="file"] {
  color: #fff;
  cursor: pointer;
}

.form__group {
  position: relative;
}
.eye__password {
  position: absolute;
  top: 2px;
  right: 18px;
  cursor: pointer;
}
.eye__password i {
  font-size: 22px;
}

@media only screen and (max-width: 576px) {
  .eye__password {
    top: 8px;
    right: 10px;
  }
  .eye__password i {
    font-size: 18px;
  }
}
